#promotions {
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.promotion {
    width: 75%;
    height: 75%;
    background-color: gray;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.promotion-item {
    width: 100%;
    height: 100%;
    margin-left: 1.5rem;
}
.promotion-item img {
    height: 100%;
    aspect-ratio: 16/9;
}

#new {
    height: calc(100vh - 4rem);
    background-color: #fbeba3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reel {
    width: 75%;
    height: 75%;
    background-color: gray;
    display: flex;
    overflow-x: scroll;
    border-radius: 1rem;
}
.new-item {
    padding: 1rem;
    margin: 1rem 0.5rem;
    background-color: aliceblue;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.25);
}
.new-item img {
    height: 50%;
    aspect-ratio: 1/1;
}
.new-item-name {
    font-size: var(--font-size-2xl);
    font-weight: 600;
    margin-top: 0.5rem;
}
.new-item-price {
    font-size: var(--font-size-lg);
    font-weight: 600;
    margin-top: 0.5rem;
}

.home {
    max-width: 100vw;
    min-height: 100vh;
    background-color: #F6F4EB;
    font-size: var(--font-size-7xl);
}
