.container {
    max-width: 100vw;
    min-height: 100vh;
    background-color: #F6F4EB;
}

#promotions-box {
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
}

.promotion-box-scroll {
    width: 70%;
    height: 70%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 1rem;
}

.promotion-item {
    width: 100%;
    height: 100%;
    padding: 0.8rem;
}

.promotion-item img {
    height: 100%;
    aspect-ratio: 16/9;
    border-radius: 1rem;
}

#new-box {
    height: calc(100vh - 10rem);
    background-color: #F6F4EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-box-scroll {
    width: 80%;
    height: 60%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: inherit;
    border-radius: 1rem;

}

.new-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0.5rem;
    background-color: #efece2;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.new-item img {
    height: 65%;
    border-radius: 1rem ;
    aspect-ratio: 16/9;
}

.new-item-name {
    font-size: 1.3rem;
    font-family:'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 0.5rem;
}

.new-item-price {
    font-size: 1.2rem;
    font-family:'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 0.5rem;
}

#rec-box{
    min-height: 100vh;
    background-color: #F6F4EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 6rem;

}

.rec-box-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    grid-gap: 3.5rem;
}

.rec-item{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #efece2;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.25);
}

.rec-item img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    aspect-ratio: 16/9;
}

.rec-item-name{
    font-size: 1.2rem;
    font-family:'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 0.5rem;
}

.rec-item-price{
    font-size: 1.1rem;
    font-family:'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}


::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #aaa;
}
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}
::-webkit-scrollbar-thumb:active{
    background: linear-gradient(left, #22ADD4, #1E98BA);
}