.page {
  border-radius: 15px;
  background-color: var(--color-white);
  width: 490px;
  height: 593px;
  display: flex;
  flex-direction: column;
  padding: 43px;
  justify-content: space-between;
}

.main {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  background-image: url("../../public/image-1@2x.png");
  background-size: cover;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  box-sizing: border-box;
  padding: 25px;
  width: 100%;
  height: 67px;
  color: var(--color-darkgray);
  font-size: var(--font-size-lg);
  font-family: var(--font-sansation);
}

.input {
  position: relative;
  margin-bottom: 20px;
}

img {
  position: absolute;
  top: 17px;
  right: 32px;
  width: 34px;
  height: 32px;
}

a {
  display: flex;
  width: 100%;
  height: 67px;
  border-radius: 30px;
  background-color: #7895b2;
  font-size: var(--font-size-lg);
  font-family: var(--font-sansation);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

.marketconnect {
  width: 100%;
  font-size: 2.5rem;
  letter-spacing: 0.22em;
  line-height: 102.69%;
  font-weight: 600;
  font-family: var(--font-saira-extracondensed);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;

}

