.profile-main {
    width: 100vw;
    height: 100vh;
    background-color: #f6f4eb;
    top: 0;
    right: 0;
    left: 0;
}
  
.MarketConnect-profile {
    position: absolute;
    top: 20px; 
    left: 5%;
    font-size: 40px;
    font-family: var(--font-saira-extracondensed);
    font-weight: bold;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
}
  
.Menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 20px; 
    right: 5%; 
    gap: 20px;
    right: 5%;
    position: absolute;
  }
  
.Menuitem {
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
  
  /* .Icon {
    width: 46px;
    height: 46px;
    margin-right: 8px;
  } */
  
.text-icon {
    color: #000;
    font-family: var(--Roboto);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 10px;

}
  
.text-icon .Icon {
    margin-right: 10px; 
}
  
.editprofile {
    position: absolute;
    top: 20%; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px; 
    font-weight: bold;
    text-align: center;
  }
  