.container{
  max-width: 100vw;
  min-height: 100vh;
  background-color: #F6F4EB;
}

.main{
  padding: 3rem;
}
h1{
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  font-family:'Roboto', sans-serif;
  font-weight: 500;
  font-size: 3rem;
}

.pic-profile-box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  width: 30%;
  border-radius: 1rem ;
  margin-bottom: 1rem;
}

.form-box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

form{
  max-width:75%;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr 2.5fr;
  gap: 1.5rem;
  font-size: 16px;
  align-items: center;
  justify-items: center;
}

form label{
  font-family:'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}
form input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family:'Roboto', sans-serif;
  font-weight: 100;
}

.button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  grid-column: 3 / span 2 ;
  grid-gap: 1rem;
}

.button button{
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-family:'Roboto', sans-serif;
  font-weight: 400;
}

.button button:hover{
  background-color: #e1d6a3;
  transition: 0.5s;
}


