.container {
  width: 100vw;
  min-height: 100vh;
  background-image: url("../../public/bg0.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  border-radius: 25px;
  background-color: white;
  width: 490px;
  height: 593px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 43px;
}

.title {
  width: 100%;
  font-size: 2.5rem;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-family: var(--font-saira-extracondensed);
  color: black;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.input-box {
  position: relative;
}

input {
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  padding: 25px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: rgb(25, 22, 22);
  background-color: var(--color-gainsboro);
  font-size: 18px;
  font-family: var(--font-sansation);
}

img {
  position: absolute;
  top: 17px;
  right: 32px;
  width: 34px;
  height: 32px;
}

a {
  width: 100%;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: white;
  background-color: #7895b2;
  font-size: 20px;
  font-family: var(--font-sansation);
  text-decoration: none;
}

a:hover{
  background-color: #7895b2;
  opacity: 0.7;
}

