.container{
    max-width: 100vw;
    min-height: 100vh;
    background-color: #F6F4EB;
}

.main-box{
    padding: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img{
    width: 30%;
    border-radius: 1rem ;
    margin-bottom: 1rem;
}

.form-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1{
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 5rem;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    font-size: 18px;
    align-items: center;
    justify-items: center;
}

form label{
    width: 100%;
    text-align: left;
    font-family:'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

form input,textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-family:'Roboto', sans-serif;
    font-weight: 200;
}

label,input{
    margin-bottom: 0.5rem;
}

button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    background-color: #F6F4EB;
    color: #000;
    margin-top: 1rem;
}

button:hover{
    background-color: #e1d6a3;
    transition: 0.3s;
}

textarea{
    resize: none;
}