header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color: #E2D8CA;
    z-index: 1;
    height: 4rem;
    min-width: max-content;
    box-shadow: 2px 10px 10px 0px rgba(0, 0, 0, 0.22);
}
h1 {
    letter-spacing: 0.2em;
    line-height: 102.69%;
    font-weight: 600;
    display: inline-block;
    flex-shrink: 0;
}
.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.nav-item {
    display: inline-flex;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    text-decoration: none;
    color: var(--color-black);
    font-weight: 600;
    align-items: center;
    justify-content: center;
}
.nav-item:hover {
    background-color: #e1d6a3;
}
.nav-item.active {
    background-color: #e1d6a3;
    cursor: default;
}
.nav-icon {
    display: inline-block;
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
}